#grid {
    margin-top: 50px;
    margin-left: 500px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
  
    
}


h3 {
    margin-left: 500px;
    margin-top: 50px;
}

h1 {
    margin-left: 550px;
    color: rgb(226, 43, 43);
}